services:
  mount-check:
    image: alpine
    container_name: mount-check
    restart: always
    command: ["sh", "-c", "while true; do sleep 3600; done"]
    volumes:
      - /mnt/movie:/mnt/movie:ro # replace with your actual mount path
    healthcheck:
      test: ["CMD", "test", "-d", "/mnt/movie"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
